.box .image.mcmp img {

    height: auto;
    width: 306px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.banner > article h2 {
    font-size: 5rem;
}

.image.fit img {

    height: 306px;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
h2{
    padding-bottom: 30px;
}

.row.uniform.\35 \25 > * {
    padding: 0;
                  }


#two .box {
    margin-bottom: 2rem;
    background:none;
}

.contact{

    width: 500px;
}

#two img{
    border-radius: 80%;
    height: 225px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#two p{
    margin-left: auto;
    margin-right: auto;

}

.box{
    height: 890px;
}

.cv{
    padding-top: 68px;
}

.col img{
    height: 60px;
    width: auto;
}



.down{
    margin-right: 137px;
    display: flex;
    float: right;
}
#two img {
    padding-top: 81px;
    border-radius: 80%;
    height: 225px;
    display: block;
    margin-left: 71px;
    margin-right: auto;
}
#two p {
    margin-top: 23px;

}

#two{
    height: 800px;
}

.contact img{
    padding-top: 81px;
    border-radius: 80%;
    height: 225px;
    display: block;
    margin-left: 71px;
    margin-right: auto;

}